<h1>Welcome to the Tasks App!</h1>

<p class="lead">This is a simple demo application to illustrate how to use <a href="https://github.com/360works/fmangular">FMAngular</a> in an angular web application.</p>


<h3>Deployment Instructions</h3>
<ul>
    <li>Copy the <code>demo</code> folder to the webserver directory on your FileMaker Server machine.</li>
    <li>Upload the <code>demo/db/Tasks_FMAngular.fmp12</code> database to your FileMaker server.</li>
</ul>

<p class="lead"><a href="#tasks" class="btn btn-primary btn-lg">View Task List</a></p>